### PANDAS SERIES

In [ ]:
import pandas as pd 
import numpy as np

Creating pandas series

In [2]:
li = [10, 20, 30, 40, 50, 60]
s = pd.Series(li)

In [3]:
s

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [4]:
type(s)

pandas.core.series.Series

In [5]:
s.size

6

In [6]:
s.ndim

1

In [ ]:
s.values

In [ ]:
s.head(2)

In [ ]:
s.tail(3)

In [ ]:
s[1]

Changing series labels

In [ ]:
s1 = pd.Series(li, index=[4,4,5,6,5,7])

In [ ]:
s1[4]

In [ ]:
s1 = pd.Series(li, index=["one", "two", "three", "four", "five", "six"])

In [ ]:
s1["three"]

Create series from dictionary

In [ ]:
students_in_state = {"Kuala_Lumpur": 24, "Johor_Bahru": 32, "Penang": 45}

In [ ]:
students = pd.Series(students_in_state)

In [ ]:
select_state = pd.Series(students_in_state, index=["Kuala_Lumpur", "Johor_Bahru"])

In [ ]:
select_state

Create pandas series from numpy arrays

In [ ]:
a = np.array(li)

In [ ]:
a

In [ ]:
a = pd.Series(a)

In [ ]:
a

Merging or concatenate between 2 series

In [ ]:
s1 = pd.Series([1,2,3,34,5])
s2 = pd.Series([44,4,5.6,77,3])

Change the axis to change the concatenate direction

In [ ]:
c1 = pd.concat([s1, s2], axis=0)

In [ ]:
c1

Selections of series

In [ ]:
s3 = pd.Series([12,3,23,3,5])

In [ ]:
s3[1]

In [ ]:
s3[0:3]

In [ ]:
s3[:2]

In [ ]:
s3[4:]

In [ ]:
s3[:-1]

In [ ]:
s4 = pd.Series([32,43,456,67,89], index=["first", "second", "third", "fourth", "fifth"])

In [ ]:
s4.index

In [ ]:
s4.keys

In [ ]:
list(s4.items())

Queries in Pandas Series

In [ ]:
s5 = pd.Series([23,83,45,67,8])

In [ ]:
3 in s5

In [ ]:
23 in s5

In [ ]:
s6 = pd.Series([23,344,56,89,5])

In [ ]:
s6[[2,4]]

In [ ]:
s7 = pd.Series([23,344,56,89,5], index=["first", "second", "third", "fourth", "fifth"])

In [ ]:
s7[["first", "third"]]

Update value in Series

In [ ]:
s8 = pd.Series([2,343,54,45,7])
s8[0] = 6

In [ ]:
s8

### PANDAS DATAFRAME

In [ ]:
dic = {'Name': ["Juniper","Cisco", "Arista"], 'No_devices': [17,34,45]}
df1 = pd.DataFrame(dic)

In [ ]:
df1

In [ ]:
df1["No_devices"]

In [ ]:
df1.No_devices

In [9]:
l1 = [52,6,37,3,2,12,2,42,35]
df2 = pd.DataFrame(l1,columns=["variable_name"])

In [10]:
df2

   variable_name
0             52
1              6
2             37
3              3
4              2
5             12
6              2
7             42
8             35

In [11]:
arr = np.array(l1).reshape(3,3)

In [12]:
arr

array([[52,  6, 37],
       [ 3,  2, 12],
       [ 2, 42, 35]])

In [13]:
df3 = pd.DataFrame(arr, columns=["Var1","Var2","Var3"])

In [14]:
df3

   Var1  Var2  Var3
0    52     6    37
1     3     2    12
2     2    42    35

In [ ]:
df3.axes

In [ ]:
df3.shape

In [ ]:
df3.ndim

In [ ]:
df3.size

In [ ]:
df3.columns

In [ ]:
df3.index

In [ ]:
df3.values

Change column in DataFrame

In [ ]:
df3

In [ ]:
df3.columns

In [ ]:
df3.columns = ["col1", "col2", "col3"]

In [ ]:
df3

Access rows in dataframe

In [ ]:
dic = {'Name': ["Juniper","Cisco", "Arista"], 'No_devices': [17,34,45], 'Age': [2,3,4]}
df1 = pd.DataFrame(dic)

In [ ]:
df1

In [ ]:
df1.iloc[0]

Select multiple rows

In [ ]:
df1.iloc[[0,2]]

Rows for specific column

In [ ]:
df1.iloc[[0,2],2]

Rows for multiple columns

In [ ]:
df1.iloc[[0,2],[1,2]]

In [ ]:
df1.iloc[1:3]

In [ ]:
df1.iloc[1:3,2]

Using loc to access rows. Difference between loc and iloc - loc is label based and iloc is integer based

In [ ]:
df1

In [ ]:
df1.loc[0]

In [ ]:
df1.loc[[0,2],"Age"]

In [ ]:
df1 = pd.DataFrame(dic, index=["a", "b", "c"])

In [ ]:
df1

In [ ]:
df1.loc["a"]

In [ ]:
df1.loc[["a","c"]]

In [ ]:
df1.loc["b":]

In [ ]:
df1.loc["c":,"No_devices"]

Accessing columns in dataframe

In [ ]:
df1

In [ ]:
df1.Age

In [ ]:
df1["Age"]

In [ ]:
df1["Age"][0]

Assigning value to row

In [ ]:
df1

In [ ]:
df1.iloc[2] = ["Huawei", "30", "3"]

In [ ]:
df1

Assigning custom index using columns

In [ ]:
dic = {'Name': ["Juniper","Cisco", "Arista"], 'No_devices': [17,34,45], 'Age': [2,3,4], 'Serial_no': ["JSD1231231","DSH231234","HSD123455"]}
df1 = pd.DataFrame(dic)

In [ ]:
df1

In [ ]:
df1.loc["JSD1231231"]

Reset index

In [ ]:
df1

In [ ]:
df1.reset_index(inplace=True)

In [ ]:
df1

Sorting index

In [15]:
dic = {'Name': ["Juniper","Cisco", "Arista"], 'No_devices': [17,34,45], 'Age': [2,3,4], 'Serial_no': ["JSD1231231","DSH231234","HSD123455"]}
df1 = pd.DataFrame(dic, index=[4,3,6])

In [16]:
df1

      Name  No_devices  Age   Serial_no
4  Juniper          17    2  JSD1231231
3    Cisco          34    3   DSH231234
6   Arista          45    4   HSD123455

In [17]:
df1.sort_index(inplace=True)

In [18]:
df1

      Name  No_devices  Age   Serial_no
3    Cisco          34    3   DSH231234
4  Juniper          17    2  JSD1231231
6   Arista          45    4   HSD123455

Filtering

In [19]:
dic = {'Name': ["Juniper","Cisco", "Arista"], 'No_devices': [17,34,45], 'Age': [2,3,4], 'Serial_no': ["JSD1231231","DSH231234","HSD123455"]}
df1 = pd.DataFrame(dic)

In [20]:
df1["Name"] == "Juniper"

0     True
1    False
2    False
Name: Name, dtype: bool

In [21]:
df1[df1["Name"] == 'Cisco']

    Name  No_devices  Age  Serial_no
1  Cisco          34    3  DSH231234

In [22]:
df1.loc[df1["Name"] == "Arista", "Serial_no"]

2    HSD123455
Name: Serial_no, dtype: object

Filtering with arithmetic operations

In [ ]:
df1[df1["No_devices"] > 30]

In [ ]:
df1[(df1["No_devices"] > 30) & (df1["Age"] < 4)]

In [ ]:
df1[(df1["No_devices"] > 30) | (df1["Age"] < 4)]

In [ ]:
df1[~(df1["No_devices"] > 30)]

Filtering with filter() function

In [ ]:
fil = df1.filter(items=["Name","Serial_no"])

In [ ]:
fil

Filter with regex for column that ends with e

In [ ]:
fil = df1.filter(regex='e$', axis=1)

In [ ]:
fil

Adding rows using append

In [ ]:
df1

In [ ]:
app1 = df1.append({"Name": "Dell"},ignore_index=True)

In [ ]:
app1

In [ ]:
app2 = df1.append({"Name":"Dell","No_devices":32,"Age":56,"Serial_no":"DHSDA03123"},ignore_index=True)

In [ ]:
app2

Remove rows using index

In [ ]:
dp1 = df1.drop(index=2)

In [ ]:
dp1

In [ ]:
cond1 = df1[df1["No_devices"]>30]

In [ ]:
cond1

In [ ]:
dp2 = df1.drop(index=cond1.index)

In [ ]:
dp2

Adding columns

In [27]:
df1["Version"] = [14,32,42]

In [28]:
df1

      Name  No_devices  Age   Serial_no  Version
0  Juniper          17    2  JSD1231231       14
1    Cisco          34    3   DSH231234       32
2   Arista          45    4   HSD123455       42

Remove columns

In [29]:
df1

      Name  No_devices  Age   Serial_no  Version
0  Juniper          17    2  JSD1231231       14
1    Cisco          34    3   DSH231234       32
2   Arista          45    4   HSD123455       42

In [30]:
dp3 = df1.drop(columns=["Age", "No_devices"])

In [31]:
dp3

      Name   Serial_no  Version
0  Juniper  JSD1231231       14
1    Cisco   DSH231234       32
2   Arista   HSD123455       42

In [32]:
dp4 = df1.drop(["Name","Version"],axis=1)

In [33]:
dp4

   No_devices  Age   Serial_no
0          17    2  JSD1231231
1          34    3   DSH231234
2          45    4   HSD123455

Combining 2 dataframes

In [ ]:
dic1 = {'Name': ["Juniper","Cisco", "Arista"], 'No_devices': [17,34,45], 'Age': [2,3,4], 'Serial_no': ["JSD1231231","DSH231234","ASD173455"]}
dic2 = {'Name': ["Dell","Nokia", "Huawei"], 'No_devices': [34,44,22], 'Age': [3,7,4], 'Serial_no': ["DHSD02313","NSDSD1234","HSD123455"]}
df1 = pd.DataFrame(dic1)
df2 = pd.DataFrame(dic2)

In [ ]:
df3 = pd.concat([df1,df2])

In [ ]:
df3

In [ ]:
df3 = pd.concat([df1,df2], ignore_index=True)

In [ ]:
df3

Inner Join: Join matching values only. Different columns are removed

In [ ]:
dic1 = {'Name': ["Juniper","Cisco", "Arista"], 'Serial_no': ["JSD1231231","DSH231234","ASD173455"]}
dic2 = {'Name': ["Dell","Nokia", "Huawei"], 'No_devices': [34,44,22], 'Age': [3,7,4], 'Serial_no': ["DHSD02313","NSDSD1234","HSD123455"]}
df1 = pd.DataFrame(dic1)
df2 = pd.DataFrame(dic2)

In [ ]:
df3 = pd.concat([df1,df2])

In [ ]:
df3

In [ ]:
df3 = pd.concat([df1,df2], ignore_index=True, join="inner")

In [ ]:
df3

Full join

In [ ]:
df4 = pd.concat([df1,df2],join="outer")

In [ ]:
df4

Left join

In [ ]:
df5 = pd.merge(df1,df2,how="left")

In [ ]:
df5

Right join

In [ ]:
df6 = pd.merge(df1,df2,how="right")

In [ ]:
df6

Merge many to many structure

In [34]:
dic1 = {'Name': ["Juniper","Cisco", "Arista"], 'No_devices': [50,34,45], 'Age': [2,3,4], 'Serial_no': ["JSD1231231","DSH231234","ASD173455"]}
dic2 = {'Serial_no': ["JSD1231231","DSH231234","ASD173455"],'Department': ["IT","Account", "Management"], 'Team': ["abc","def", "ghi"] }
df1 = pd.DataFrame(dic1)
df2 = pd.DataFrame(dic2)

In [35]:
df3 = pd.merge(df1,df2)

In [36]:
df3

      Name  No_devices  Age   Serial_no  Department Team
0  Juniper          50    2  JSD1231231          IT  abc
1    Cisco          34    3   DSH231234     Account  def
2   Arista          45    4   ASD173455  Management  ghi

Sort by values

In [ ]:
df1

In [ ]:
df4 = df1.sort_values(by="No_devices")

In [ ]:
df4

In [ ]:
df4 = df1.sort_values(by="No_devices", ascending=False)

In [ ]:
df4

Sort by no of devices first and then sort by age

In [ ]:
df4 = df1.sort_values(by=["No_devices", "Age"])

In [ ]:
df4

In [ ]:
df4 = df1.sort_values(by=["No_devices", "Age"], ascending=[True,False])

In [ ]:
df4

Largest and smallest elements in column. N denotes the number of elements

In [ ]:
largest = df1["No_devices"].nlargest(2)

In [ ]:
largest

In [ ]:
smallest = df1["No_devices"].nsmallest(1)

In [ ]:
smallest

Aggregation Functions

In [ ]:
dic1 = {'Name': ["Juniper","Cisco", "Arista", "Asus", "Huawei", "Dell"], 'No_devices': [50,34,45,65,23,12], 'Age': [2,3,4,3,5,3], 'Serial_no': ["JSD1231231","DSH231234","ASD173455", "ASD1231234", "HGSD03123", "DWQD031233"]}
df1 = pd.DataFrame(dic1)

In [ ]:
df1.count()

In [ ]:
df1.mean()

In [ ]:
df1["Age"].mean()

In [ ]:
df1.median()

In [ ]:
df1["Age"].median()

In [ ]:
df1.sum()

In [ ]:
df1["Age"].sum()

In [ ]:
df1.min()

In [ ]:
df1["Age"].min()

In [ ]:
df1.max()

In [ ]:
df1["Age"].max()

In [ ]:
df1.std()

In [ ]:
df1["Age"].std()

In [ ]:
df1.var()

In [ ]:
df1["Age"].var()

In [ ]:
df1.describe()

Standard error of mean values

In [ ]:
df1.sem()

Grouping

In [ ]:
dic1 = {'Name': ["Juniper","Cisco", "Arista", "Asus", "Huawei", "Dell"], 'No_devices': [50,34,45,65,23,12], 'Age': [2,3,4,3,5,3], 'Serial_no': ["JSD1231231","DSH231234","ASD173455", "ASD1231234", "HGSD03123", "DWQD031233"]}
df1 = pd.DataFrame(dic1)
device_age = df1.groupby("Age")

In [ ]:
device_age

In [ ]:
threeYears = device_age.get_group(3)

In [ ]:
threeYears

In [ ]:
df1[df1["Age"] == 3]

In [ ]:
df1.groupby("Age").mean()

In [ ]:
df1.groupby("Age").mean()["No_devices"]

In [ ]:
df1.groupby("Age")["No_devices"].mean()

In [ ]:
df1.groupby("Age")["No_devices"].describe()

In [ ]:
df1.groupby("Age")["No_devices"].agg(["mean", "max", "min"])

In [ ]:
df1.groupby("Age").aggregate(["max", "min"])

Transform operation

In [ ]:
def age_increase(x):
    return x + 10

In [ ]:
df1["Age"]

In [ ]:
inc1 = df1["Age"].transform(age_increase)

In [ ]:
inc1

In [ ]:
inc2 = df1["Age"].transform(lambda x:x+20)

In [ ]:
inc2

Elementwise for multiple column dataframe

In [ ]:
inc2 = df1[["Name","Serial_no"]].applymap(str.upper)

In [ ]:
inc2

Map values and replace

In [ ]:
map1 = df1["Name"].map({"Arista": "Fortinet"})

In [ ]:
map1

In [ ]:
rep = df1["Name"].replace({"Arista": "Fortinet"})

In [ ]:
rep

Missing values (NaN) - Data has been modified to insert none and NaN

In [ ]:
dic1 = {'Name': ["Juniper","Cisco", "Arista", "Asus", "Huawei", "Dell"], 'No_devices': [50,34,45,65,23,np.nan], 'Age': [2,3,np.nan,3,5,3], 'Serial_no': ["JSD1231231","DSH231234","ASD173455", "ASD1231234", None, "DWQD031233"]}
df1 = pd.DataFrame(dic1)

In [ ]:
df1["Age"].isnull()

In [ ]:
age_null = df1[df1["Age"].isnull()]

In [ ]:
df1[df1["Age"].isnull()]

In [ ]:
fill = age_null.fillna(9)

In [ ]:
fill

In [ ]:
fill = age_null.fillna(df1["Age"].mean())

In [ ]:
fill

Drop missing values

In [ ]:
dropNaAll = df1.dropna()

In [ ]:
dropNaAll

Drop columns with missing values

In [ ]:
dropNaCol = df1.dropna(axis="columns")

In [ ]:
dropNaCol

Read csv files in pandas

In [ ]:
csv_data = pd.read_csv("Dataset/netflix_titles.csv")

In [ ]:
csv_data.head()

Read excel file in pandas

In [ ]:
excel_data = pd.read_excel("Dataset/netflix_titles.xlsx")

In [ ]:
excel_data.head()

Accessing second sheet in excel

In [ ]:
excel_data = pd.read_excel("Dataset/netflix_titles.xlsx", sheet_name="Second Sheets")

In [ ]:
excel_data.head()

Read json in pandas

In [ ]:
json_data = pd.read_json("Dataset/employee.json")

In [ ]:
json_data

In [ ]:
json_data.loc[0]["employees"]["firstName"]